html,
body {
    height: 100%;
    width: 100%;
}

.m15 {
    margin: 15px;
}

.tc {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.app {
    position: relative;
    width: 100%;
    min-height: 100%;
}